.trainer_area {
  padding-bottom: 100px;
}

@media (max-width: 991px) {
  .trainer_area {
    padding-bottom: 40px;
  }
}

.single-trainer {
  margin-bottom: 30px;
}

.border-R {
  border-radius: 10px;
  overflow: hidden;
}

.single-trainer .thumb {
  position: relative;
  overflow: hidden;
  transition: 0.3s;
}

.single-trainer .thumb img {
  transition: 0.3s;
}

.single-trainer :hover img {
  transform: scale(1.1);
  transition: 0.3s;
}


.single-trainer .meta-text {
  background: #f9f9ff;
  padding: 20px 25px;
  box-shadow: 0px 0px 30px rgba(153, 153, 153, 0.13);
  -webkit-transition: all 0.3s ease 0s;
  -moz-transition: all 0.3s ease 0s;
  -o-transition: all 0.3s ease 0s;
  transition: all 0.3s ease 0s;
  background: no-repeat padding-box #edf2f7;
}

@media (max-width: 991px) {
  .single-trainer .meta-text {
    padding: 20px 20px;
  }
}

.single-trainer .meta-text h4 {
  font-size: 20px;
  margin-bottom: 0px;
}

.single-trainer .meta-text .designation {
  font-size: 14px;
  margin-bottom: 10px;
}

.single-trainer .meta-text a {
  font-size: 14px;
  margin: 0 10px;
  color: #cccccc;
  -webkit-transition: all 0.3s ease 0s;
  -moz-transition: all 0.3s ease 0s;
  -o-transition: all 0.3s ease 0s;
  transition: all 0.3s ease 0s;
}

.single-trainer .meta-text a:hover {
  color: #fdc632;
}

.single-trainer:hover .meta-text {
  box-shadow: 0px 10px 30px rgba(0, 35, 71, 0.15);
}