.footer-area {
    background: #002347;
    padding: 70px 0px !important;
}

@media (max-width: 991px) {
    .footer-area .single-footer-widget {
        margin-bottom: 30px;
    }
}

.footer-area .single-footer-widget h4 {
    color: #ffffff;
    margin-bottom: 35px;
}

@media (max-width: 1024px) {
    .footer-area .single-footer-widget h4 {
        font-size: 18px;
    }
}

@media (max-width: 991px) {
    .footer-area .single-footer-widget h4 {
        margin-bottom: 15px;
    }
}

.footer-area .single-footer-widget ul {
    padding-left: 0;
}

.footer-area .single-footer-widget ul li {
    margin-bottom: 15px;
    list-style: none;
}

.footer-area .single-footer-widget ul li a {
    -webkit-transition: all 0.3s ease 0s;
    -moz-transition: all 0.3s ease 0s;
    -o-transition: all 0.3s ease 0s;
    transition: all 0.3s ease 0s;
    color: #7b838a;
}

.footer-area .single-footer-widget ul li a:hover {
    color: #ffffff;
}

.footer-area .single-footer-widget .form-wrap {
    margin-top: 25px;
}

.footer-area .single-footer-widget input {
    height: 40px;
    border: none;
    width: 80% !important;
    font-weight: 300;
    background: #334f6c;
    color: #ffffff;
    border-radius: 0;
    font-size: 14px;
    padding: 10px;
    padding-left: 20px;
}

.footer-area .single-footer-widget input:focus {
    outline: none;
    box-shadow: none;
}

.footer-area .single-footer-widget .click-btn {
    background: #fdc632;
    background-size: 200% auto;
    color: #002347;
    border-radius: 0;
    border-top-left-radius: 0px;
    border-bottom-left-radius: 0px;
    padding: 8px 20px;
    margin-left: -60px;
    font-size: 12px;
    text-transform: uppercase;
    font-family: "Rubik", sans-serif;
    font-weight: 600;
    border: 0;
    -webkit-transition: all 0.3s ease 0s;
    -moz-transition: all 0.3s ease 0s;
    -o-transition: all 0.3s ease 0s;
    transition: all 0.3s ease 0s;
}

.footer-area .single-footer-widget .click-btn span {
    font-weight: 500;
}

.footer-area .single-footer-widget .click-btn:focus {
    outline: none;
    box-shadow: none;
}

.footer-area .single-footer-widget .click-btn:hover {
    background-position: right center;
}

.footer-area .footer-bottom {
    margin-top: 50px;
}

@media (max-width: 991px) {
    .footer-area .footer-bottom {
        margin-top: 20px;
    }
}

.footer-area .footer-bottom a {
    color: #fdc632;
}

.footer-area .footer-bottom .footer-social {
    text-align: right;
}

.footer-area .footer-bottom .footer-social a {
    background: #334f6c;
    width: 20px;
    width: 40px;
    display: inline-table;
    height: 40px;
    text-align: center;
    padding-top: 10px;
    -webkit-transition: all 0.3s ease 0s;
    -moz-transition: all 0.3s ease 0s;
    -o-transition: all 0.3s ease 0s;
    transition: all 0.3s ease 0s;
}

.footer-area .footer-bottom .footer-social a:hover {
    background: #fdc632;
}

.footer-area .footer-bottom .footer-social a:hover i {
    color: #002347;
}

.footer-area .footer-bottom .footer-social i {
    color: #cccccc;
    -webkit-transition: all 0.3s ease 0s;
    -moz-transition: all 0.3s ease 0s;
    -o-transition: all 0.3s ease 0s;
    transition: all 0.3s ease 0s;
}

@media (max-width: 991px) {
    .footer-area .footer-bottom .footer-social {
        text-align: left;
        margin-top: 20px;
    }
}

.form-inline {
    display: -ms-flexbox;
    display: flex;
    -ms-flex-flow: row wrap;
    flex-flow: row wrap;
    -ms-flex-align: center;
    align-items: center;
}