<div class="background">
    <div class="container-fluid">
        <div class="row">
            <div class="col-md-7 position-relative">
                <div class="notepad">
                    <img src="../../assets/Images/qqqq.png" alt="">
                </div>
            </div>

            <div class="col-md-5 position-relative d-flex">
                <div class="enquiryForm text-center">
                    <form action="">
                        <div class="row">
                            <div class="col-md-12">
                                <p>student enquiry</p>
                            </div>
                            <div class="col-md-6">
                                <div class="form-floating">
                                    <input type="email" class="form-control" id="floatingInput"
                                        placeholder="name@example.com">
                                    <label for="floatingInput">Email address</label>
                                </div>
                            </div>

                            <div class="col-md-6">
                                <div class="form-floating">
                                    <input type="email" class="form-control" id="floatingInput"
                                        placeholder="name@example.com">
                                    <label for="floatingInput">Email address</label>
                                </div>
                            </div>

                            <div class="col-md-6">
                                <div class="form-floating">
                                    <input type="email" class="form-control" id="floatingInput"
                                        placeholder="name@example.com">
                                    <label for="floatingInput">Email address</label>
                                </div>
                            </div>

                            <div class="col-md-6">
                                 <select name="CourseSelet" id="CourseSelet">
                                    <option value="CourseSelet1">CourseSelet1</option>
                                    <option value="CourseSelet2">CourseSelet2</option>
                                    <option value="CourseSelet3">CourseSelet3</option>
                                    <option value="CourseSelet4">CourseSelet4</option>
                                 </select>
                            </div>

                            <div class="col-md-12 text-end">
                                <button>Submit</button>
                            </div>
                        </div>
                    </form>
                </div>
            </div>

        </div>
    </div>
</div>