<div class="center-top-banners">
</div>

<div class="container centered-box">
    <div class="col-12 center-top-banner-panel p-3"> 
    </div>
</div>

<section>
    <div class="container-fluid platform text-center py-4 " >
        <div class="row text-center">
            <h1 class="platform-edu font-fam-bold d-none d-md-block">India's Most Loved Educational Platform</h1>
            <h1 class="platform-edu font-fam-bold d-block d-md-none">India's Most<br>Loved Educational Platform</h1>
            <h4 class="paltform-journey font-fam-bold">With Nachiketa , Begin your journey to success.</h4>
        </div>
        <div class="container py-md-5 py-2">
            <div class="row">
                <div class="col-6 col-md-3">
                    <div class="mt-4">
                        <span data-toggle="counterUp" class="number platform-number font-fam-bold">15.7</span>
                        <span class="platform-number font-fam-bold">K+</span>
                    </div>
                    <h5 class="platform-desc font-fam-medium">Happy Students</h5>
                </div>
                <div class="col-6 col-md-3">
                    <div class="mt-4">
                        <span data-toggle="counterUp" class="number platform-number font-fam-bold">130</span>
                        <span class="platform-number font-fam-bold">+</span>
                    </div>
                    <div class="platform-desc font-fam-medium">Video Lectures</div>
                </div>
                <div class="col-6 col-md-3">
                    <div class="mt-4">
                        <span data-toggle="counterUp" class="number platform-number font-fam-bold">250</span>
                        <span class="platform-number font-fam-bold">+</span>
                    </div>
                    <div class="platform-desc font-fam-medium">Mock Test</div>
                </div>
                <div class="col-6 col-md-3">
                    <div class="mt-4">
                        <span data-toggle="counterUp" class="number platform-number font-fam-bold">7000</span>
                        <span class="platform-number font-fam-bold">+</span>
                    </div>
                    <div class="platform-desc font-fam-medium">Questions</div>
                </div>
            </div>
        </div>
    </div>
</section>


<div class="container">
    <div class="row">
        <div class="container text-center pt-5">
            <h2 class="learn-text font-fam-bold">Why <span class="why-phy">Courses under Kushal Yuva Program</span></h2>
            <div class="learn-text-sm font-fam-medium mt-4">KYP Course 1: English and Hindi Communication
                Skills (80 hrs)</div>
        </div>
    </div>


    <div class="row">
        <div class="container py-5">
            <div class="col-12 col-md-12 why-phy-box d-flex align-items-center text-center p-3 cflx">
                <div class="col-12 col-md-3 d-flex justify-content-center"><img class="img-fluid" alt="img11"
                        src="../../assets/Images/service/group-20356.svg"></div>
                <div class="col-12 col-md-9">
                    <div class="d-flex flex-column text-start">
                        <div class="why-inner-head font-fam-bold px-4">This Course offers communication and language skills that include:</div>
                        <div class="why-inner-text font-fam-regular px-4">
                            <ul>
                                <li>Speaking, Listening, Understanding, Reading and Writing in English and Hindi</li>
                                    <li>Vocabulary, Sentence construction, Grammar, Pronunciation, Quality of communication (Fluency, Emphasis, Pace, Clarity,
                                    etc.), Voice (Intonation, Pitch, Modulation, etc.)</li>
                                    <li>Non Verbal Communication</li>
                            </ul>
                        </div>
                    </div>
                </div>
            </div>
            <div class="col-12 col-md-12 text-center">
                <span class="d-md-block d-none"><img class="img-fluid" alt="img18"
                        src="../../assets/Images/service/group-20364.svg"></span>
                <span class="d-md-none"><img class="img-fluid" alt="img18"
                        src="../../assets/Images/service/mgroup20364.svg"></span>
            </div>
            <div class="col-12 col-md-12 why-phy-box-inn d-flex align-items-center p-3 cflx">

                <div class="col-12 col-md-3 d-flex justify-content-center d-md-none"><img class="img-fluid" alt="img11"
                        src="../../assets/Images/service/group-20360.svg" width="220" height="220"></div>

                <div class="col-12 col-md-9">
                    <div class="d-flex flex-column">
                        <div class="why-inner-head font-fam-bold px-4">Following are the modules in this course:</div>
                        <div class="why-inner-text font-fam-regular px-4">
                            <ul>
                                <li>Home, Surroundings and Routine , Greetings , Friends, Family and Relatives , Food , 
                                    Health and hygiene , Telling time and Giving directions , News , Making enquiries , 
                                    Communicating at common public places , Helping and offering services , Getting Ready for Work , 
                                    Telephonic conversation , Sharing thoughts with others , Using references like dictionary and thesaurus , 
                                    Communication in cyber world , Interview techniques , Meetings at workplace , Workplace ethics , Customer Service , Safety
                                </li>
                            </ul>
                        </div>
                    </div>
                </div>
                <div class="col-12 col-md-3 d-flex justify-content-center d-md-block d-none"><img class="img-fluid"
                        alt="img11" src="../../assets/Images/service/group-20360.svg" width="220"
                        height="220"></div>
            </div>
            <div class="col-12 col-md-12 text-center">
                <span class="d-md-block d-none"><img class="img-fluid" alt="img18"
                        src="../../assets/Images/service/group-20365.svg"></span>
                <span class="d-md-none"><img class="img-fluid" alt="img18"
                        src="../../assets/Images/service/mgroup20368.svg"></span>
            </div>
            <div class="col-12 col-md-12 why-phy-box-inn d-flex align-items-center p-3 cflx">

                <div class="col-12 col-md-3 d-flex justify-content-center"><img class="img-fluid" alt="img11"
                        src="../../assets/Images/service/group-20358.svg"></div>
                <div class="col-12 col-md-9">
                    <div class="d-flex flex-column">
                        <div class="why-inner-head font-fam-bold px-4">This Course offers Information Technology (IT) Awareness, Literacy, Functionality and Smart Use of following IT Tools:</div>
                        <div class="why-inner-text font-fam-regular px-4">
                            Windows 7 , Internet browsers , MS Word 2013 , MS Excel 2013 , MS PowerPoint 2013 , MS Access 2013 , MS Outlook 2013 , 
                            Google Apps , Open Office Writer , Open Office Calc , Open Office Impress
                        </div>
                    </div>
                </div>
            </div>
            <div class="col-12 col-md-12 text-center">

                <span class="d-md-block d-none"><img class="img-fluid" alt="img18"
                        src="../../assets/Images/service/group-20364.svg"></span>
                <span class="d-md-none"><img class="img-fluid" alt="img18"
                        src="../../assets/Images/service/mgroup20364.svg"></span>
            </div>
            <div class="col-12 col-md-12 why-phy-box-last d-flex align-items-center p-3 cflx">
                <div class="col-12 col-md-3 d-flex justify-content-center d-md-none"><img class="img-fluid" alt="img11"
                        src="../../assets/Images/service/group-20359.svg"></div>
                <div class="col-12 col-md-9">
                    <div class="d-flex flex-column">
                        <div class="why-inner-head font-fam-bold px-4">The Syllabus is mapped to major international standards like CCCS, NETS, NDLS, MS, etc.
                            Following are the modules in this course:</div>
                        <div class="why-inner-text font-fam-regular px-4">Operating System , Internet , Word Processing , Spreadsheet , 
                            Presentation Graphics , Database Management System , Personal Information Manager
                        </div>
                    </div>
                </div>
                <div class="col-12 col-md-3 d-flex justify-content-center"><img class="img-fluid d-md-block d-none"
                        alt="img11" src="../../assets/Images/service/group-20359.svg">
                </div>
            </div>
        </div>
    </div>
</div>