.feature_area {
  padding-bottom: 100px;
}

@media (max-width: 991px) {
  .feature_area {
    padding-bottom: 40px;
  }
}

.single_feature {
  position: relative;
  background: #dedeed;
  padding: 40px 36px;
  margin-bottom: 30px;
  transition: all 0.3s ease 0s;
  border-top-left-radius: 50px;
  border-bottom-right-radius: 50px;
}

@media (max-width: 480px) {
  .single_feature {
    padding: 40px 20px;
  }
}

.single_feature .icon span {
  font-size: 30px;
}

.single_feature h4 {
  font-size: 20px;
  font-weight: 500;
}

.single_feature p {
  margin-bottom: 0px;
}

.single_feature:hover {
  box-shadow: 0px 10px 30px rgba(0, 35, 71, 0.1);
}
.single_feature .icon img {
  max-width: 50px;
}