<ul class="dropdown-menu position-static mt-3 top-dropdown show" data-bs-popper="none">

        <li class="dropend dropdown-submenu" routerLinkActive="active">
                <a class="dropdown-item" routerLink="dca">
                        <div class="d-flex justify-content-between mob-menu-pad">
                                <span class="ms-1 d-sm-inline">Dca</span><span class="arrow-org arrow-right"></span>
                        </div>
                </a>
        </li> 
        <li class="dropend dropdown-submenu" routerLinkActive="active">
                <a class="dropdown-item" routerLink="adca">
                        <div class="d-flex justify-content-between mob-menu-pad">
                                <span class="ms-1 d-sm-inline">Adca</span><span class="arrow-org arrow-right"></span>
                        </div>
                </a>
        </li> 
        <li class="dropend dropdown-submenu" routerLinkActive="active">
                <a class="dropdown-item" routerLink="bcc">
                        <div class="d-flex justify-content-between mob-menu-pad">
                                <span class="ms-1 d-sm-inline">Bcc</span><span class="arrow-org arrow-right"></span>
                        </div>
                </a>
        </li> 
        <li class="dropend dropdown-submenu" routerLinkActive="active">
                <a class="dropdown-item" routerLink="typing">
                        <div class="d-flex justify-content-between mob-menu-pad">
                                <span class="ms-1 d-sm-inline">Typing</span><span class="arrow-org arrow-right"></span>
                        </div>
                </a>
        </li> 
        <li class="dropend dropdown-submenu" routerLinkActive="active">
                <a class="dropdown-item" routerLink="web-desing">
                        <div class="d-flex justify-content-between mob-menu-pad">
                                <span class="ms-1 d-sm-inline">Web Design</span><span class="arrow-org arrow-right"></span>
                        </div>
                </a>
        </li>  
        


</ul>